@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;400;600&display=swap');

// Global theme variables

// margins
$small-margin: 0.3em;
$standard-margin: 1em;
$big-margin: 1.5em;

// color scheme
$accent-color: #0077b6;
$secondary-color: #023e8a;
$background-color: #000126;
$active-color: #C00;

// text colors
$text-color: #eee;
$dimmed-color: #ddd;

// font-sizes
$content-paragraph: 1.5rem;
$content-header1: 2.5rem;
$content-header2: 2.0rem;

// animation timings
$standard-transition_length: 0.2s;

// Mixins
@mixin hover_bg($color) {
    background: $color;

    &:hover {
        background: lighten($color, 10);
    }
}

@mixin outlined($color, $border-width: 3px) {
    color: $color;
    border: $border-width solid $color;
}

// Computed classes
$alignements: left, center, right, justify;
@each $align in $alignements {
    .text-#{$align} {
        text-align: $align;
    }
}

// Global styles
h1 {
    margin: 0;
}